.icon{
	display: inline-block;

	&.icon-tick-list{
		background: url(../img/icons/tick-list-icon.png) no-repeat center center;
		width: 57px;
		height: 57px;
	}

	&.icon-peoples{
		background: url(../img/icons/peoples-icon.png) no-repeat center center;
		width: 57px;
		height: 57px;
	}

	&.icon-hand-with-money{
		background: url(../img/icons/hand-with-money-icon.png) no-repeat center center;
		width: 57px;
		height: 57px;
	}

	&.icon-24-hours{
		background: url(../img/icons/24-hours-icon.png) no-repeat center center;
		width: 57px;
		height: 57px;
	}

	&.icon-target{
		background: url(../img/icons/target-icon.png) no-repeat center center;
		width: 57px;
		height: 57px;
	}

	&.icon-tarrifs{
		background: url(../img/icons/tarrifs-icon.png) no-repeat center center;
		width: 57px;
		height: 57px;
	}

	&.icon-replace{
		background: url(../img/icons/replace-icon.png) no-repeat center center;
		width: 57px;
		height: 57px;
	}

	&.icon-vk{
		background: url(../img/icons/vk.png) no-repeat center center;
		width: 31px;
		height: 31px;
	}

	&.icon-ok{
		background: url(../img/icons/ok.png) no-repeat center center;
		width: 31px;
		height: 31px;
	}

	&.icon-fb{
		background: url(../img/icons/fb.png) no-repeat center center;
		width: 31px;
		height: 31px;
	}

	&.icon-mailru{
		background: url(../img/icons/mailru.png) no-repeat center center;
		width: 31px;
		height: 31px;
	}
}