.wrapper{
	padding-top: 140px;
	min-height: 100vh;
	position: relative;
	overflow: hidden;

	@media screen and (max-width: $mobile-big-breakpoint){
		padding-top: 80px;
	}

	.main-content{
		// padding-bottom: 40px;
		width: 100%;

		.page{
			padding-bottom: 70px;
		}
	}
}

.gray-section{
	padding: 30px 35px;
	background: #f0f0f0;
	width: 100%;

	@media screen and (max-width: $mobile-big-breakpoint){
		padding: 20px;
	}
}

.light-section{
	background: #e9f5ff;
	padding: 35px 0;
}

.container{
	width: 100%;
	max-width: $large-width;
	margin: 0 auto;

	@media screen and (max-width: $desktop-breakpoint) {
		max-width: $desktop-width;
	}

	@media screen and (max-width: $tablet-breakpoint){
		max-width: $tablet-width;
	}

	@media screen and (max-width: $mobile-big-breakpoint){
		max-width: $mobile-width;
		padding: 0 16px;
	}

	.row{
		display: flex;
		flex-wrap: wrap;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;

		@mixin col-generator ($prefix:'.col', $prop: 'width', $total-columns:12) {
			$col-widths: ();

			@for $i from 1 through $total-columns {

				$w: ($i /$total-columns);

				@if not index($col-widths, $w) {
					#{$prefix}-#{$i} {
						#{$prop}: $w * 100%;
						flex-grow: 0;
					}

					$col-widths: append($col-widths, $w, comma);
				}
			}
		}

		@include col-generator();

		@media screen and (max-width: $desktop-breakpoint){
			@include col-generator('.col-lg');
		}

		@media screen and (max-width: $tablet-breakpoint){
			@include col-generator('.col-md');
		}

		@media screen and (max-width: $mobile-big-breakpoint){
			@include col-generator('.col-sm');
		}

		@media screen and (max-width: $mobile-small-breakpoint){
			@include col-generator('.col-xs');
		}

		.col{
			padding: 0 15px;

			&.stretch-items{
				align-items: stretch;
				display: flex;
			}
		}
	}

	@media screen and (max-width: $mobile-big-breakpoint){
		.row{
			width: calc(100% + 16px);
			margin-left: -8px;
			margin-right: -8px;

			.col{
				padding: 0 8px;
			}
		}
	}
}