.wrapper{
	padding-top: 100px;
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;

	.main-content{
		display: flex;
		justify-content: space-between;
		padding-bottom: 40px;
		max-width: $max-content-width;
		margin: 0 auto;

		.sidebar{
			width: 240px;
			flex: none;
			margin-right: 45px;
		}

		.page-content{
			flex: auto;
		}
	}
}