h1, .h1{
	color: $dark;
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 20px;
	font-weight: 700;
}

h2, .h2{
	font-size: 24px;
	line-height: 30px;
	color: $dark;
	font-weight: bold;
	margin-bottom: 20px;
}

h3, .h3{
	font-size: 18px;
	line-height: 24px;
	color: $dark;
	font-weight: 700;
	margin-bottom: 10px;
}

h4, .h4{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 10px;
	color: $dark;
	font-weight: 700;
}

a{
	color: $blue;
	text-decoration: underline;
	transition: all $t;

	&:hover{
		color: darken($blue, 10%);
		text-decoration: none;
	}

	&.border-dashed{
		text-decoration: none;
		display: inline-block;
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 0;
			border-top: 1px dashed $blue;
			position: absolute;
			bottom: 2px;
			left: 0;
			transition: all $t;
		}

		&:hover{
			&:after{
				opacity: 0;
			}
		}
	}
}

body{
	font-family: $main;
	font-size: 14px;
	line-height: 24px;
	color: $text-color;
}

p{
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 24px;
	color: #404040;

	&:last-child{
		margin-bottom: 0;
	}
}

.typ-note{
	font-size: 12px;
	line-height: 16px;
	color: #a1a1a1;
}

ul.typ-ul,
.post-text ul{
	margin-bottom: 12px;
	list-style: none;
	padding-left: 40px;

	li{
		font-size: 14px;
		line-height: 24px;
		color: $text-color;
		position: relative;
		padding-left: 20px;

		&:before{
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 8px;
			background: #f93331;
		}
	}
}

ol.typ-ol,
.post-text ol{
	margin-bottom: 12px;
	list-style: none;
	padding-left: 30px;
	counter-reset: li;

	li{
		font-size: 14px;
		line-height: 24px;
		color: $text-color;
		position: relative;
		padding-left: 30px;

		&:before{
			counter-increment: li;
			content: "0"counter(li);
			display: block;
			position: absolute;
			left: 0;
			top: 0px;
			color: #ababab;
			font-weight: 700;
		}
	}
}

.page-header{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.typ-caption{
	font-size: 14px;
	line-height: 20px;
	color: #6f6f6f;
}

.typ-display-1{
	font-size: 24px;
	line-height: 30px;
	color: $dark;
	font-weight: 400;
}

.typ-display-2{
	font-size: 30px;
	line-height: 36px;
	color: $dark;
	font-weight: 400;
}

.typ-display-3{
	font-size: 48px;
	line-height: 54px;
	color: $dark;
	font-weight: 400;
}

.line-height-1{
	line-height: 1em;
}

.post-text{
	img{
		max-width: 100%;

		&.border-radius{
			border-radius: $r;
		}

		&.fullwidth{
			width: 100%;
			height: auto;
			display: block;
			margin-bottom: 40px;
		}
	}

	ul, ol{
		margin-bottom: 24px;

		li{
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 6px;

			&:last-child{
				margin-bottom: 0;
			}

			&:before{
				top: 10px;
			}
		}
	}

	ol li:before{
		top: 0;
	}

	p{
		font-size: 16px;
		line-height: 30px;
		color: #121212;
		margin-bottom: 30px;

		&:last-child{
			margin-bottom: 0;
		}

		+ ul,
		+ ol{
			margin-top: -15px;
		}
	}
}

.quote,
blockquote,
.post-text .quote,
.post-text blockquote{
	display: block;
	padding: 25px 25px 25px 95px;
	background: #f6f6f6;
	border-radius: $r;
	position: relative;
	margin-bottom: 30px;

	&:last-child{
		margin-bottom: 0;
	}

	&:before{
		content: ',,';
		font-family: Arial;
		font-weight: 700;
		font-style: italic;
		color: #b4b4b4;
		font-size: 100px;
		position: absolute;
		letter-spacing: -7.5px;
		left: 20px;
		top: -5px;
	}

	p{
		font-size: 14px;
		line-height: 18px;
		font-style: italic;
		margin-bottom: 18px;
		color: #353535;
	}

	.author{
		font-size: 14px;
		line-height: 18px;
		font-style: italic;

		.name{
			font-weight: 700;
		}

		.position{
			color: #777777;
		}
	}
}