.footer-section{
	padding: 50px 0;
	background: url(../img/footer-bg.jpg) no-repeat center bottom;
	background-size: cover;

	.footer-logo{
		display: block;
		cursor: pointer;
		margin-bottom: 20px;

		&:hover{
			opacity: .8;
		}

		img{
			display: block;
		}
	}

	.copyright{
		color: rgba(#f7f7f7, .5);
		font-size: 12px;
		line-height: 18px;
	}

	.footer-nav{
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		list-style: none;
		width: 100%;

		li{
			width: 25%;
			padding-right: 30px;
			margin-bottom: 10px;

			a{
				color: #f7f7f7;
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
			}

			@media screen and (max-width: $tablet-breakpoint){
				width: 50%;
			}
		}
	}
}