.why-we-section{
	padding: 75px 0 100px;
	position: relative;
	z-index: 3;

	.why-we-button{
		margin-top: -45px;
		width: 255px;
		float: right;
	}

	@media screen and (max-width: $mobile-big-breakpoint){
		.why-we-button{
			margin-top: 45px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			float: none;
		}
	}
}