.banner-block{
	width: 100%;
	max-width: 468px;
	height: 60px;
	background: $lightgray;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	line-height: 16px;
	color: #969696;

	&.squared{
		width: 255px;
		height: 255px;
	}
}