.answer-inline-radio{
	input{
		display: none;

		+ label{
			padding-left: 25px;
			position: relative;
			transition: all $t;
			font-size: 14px;
			line-height: 18px;
			color: $violet;
			cursor: pointer;

			&:before{
				content: '';
				width: 10px;
				height: 10px;
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: calc(50% - 5px);
				background: #bfbfbf;
				transition: all $t;
			}
		}

		&:checked{
			+ label{
				color: $blue;

				&:before{
					background: $green;
				}
			}
		}
	}
}