.breadcrumbs{
	display: inline-flex;
	list-style: none;
	margin-bottom: 15px;

	li{
		margin-right: 14px;
		color: #aaa;
		font-size: 14px;
		line-height: 20px;
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: #aaa;
			position: absolute;
			right: -10px;
			top: 8px;
		}

		&:last-child{
			margin-right: 0;

			&:after{
				display: none;
			}
		}

		a{
			color: #aaa;
			text-decoration: none;

			&:hover{
				color: $text-color;
			}
		}
	}
}