.btn{
	display: inline-flex;
	border: none;
	transition: all $t;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	align-items: center;

	$btn_colors: (
		blue: $blue,
		lightblue: $lightblue,
		green: $green,
		lightgray: $lightgray,
		gray: $gray,
		dark: $dark,
		violet: $violet,
		azure: $azure,
		midgray: $midgray
	);

	i{
		display: block;

		&:first-child{
			margin-right: 12px;
		}

		&:last-child{
			margin-left: 12px;
		}
	}

	&.btn-default,
	&.btn-light{
		font-size: 13px;
		line-height: 18px;
		color: #fff;
		background: $lightblue;
		text-align: center;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		padding: 16px 20px;
		border-radius: $r;
		box-shadow: 0 3px 16px rgba(#000, .2);
		text-transform: uppercase;

		&:not(.disabled):hover{
			background: darken($lightblue, 10%);
		}

		&.btn-small{
			// font-weight: 400;
			font-size: 13px;
			text-transform: none;
			padding: 9px 25px;
		}

		&.small-side-paddings{
			padding-left: 10px;
			padding-right: 10px;
		}

		&:not(.btn-light){
			@each $i in $btn_colors{
				$color-key: nth($i, 1);
				$color-value: nth($i, 2);

				&.btn-#{$color-key}{
					background: $color-value;

					&:not(.disabled):hover{
						background: darken($color-value, 10%);
					}
				}
			}
		}
	}

	&.btn-light{
		background: transparent;
		color: $lightblue;
		border: 2px solid $lightblue;
		padding: 14px 30px;
		box-shadow: none;

		&:not(.disabled):hover{
			background: $lightblue;
			color: #fff;
		}

		&.btn-small{
			padding: 5px 25px;
		}

		@each $i in $btn_colors{
			$color-key: nth($i, 1);
			$color-value: nth($i, 2);

			&.btn-#{$color-key}{
				color: $color-value;
				border-color: $color-value;

				&:not(.disabled):hover{
					background: $color-value;
					color: #fff;
				}
			}
		}
	}

	&.disabled{
		background: transparent;
		border-color: lighten($midgray, 30%) !important;
		opacity: .7;

		&:hover{
			cursor: default;
		}
	}

	&.disabled{
		cursor: default;
	}

	&.fullwidht{
		width: 100%;
	}

	&.btn-bigger{
		font-size: 18px;
		font-weight: 400;
		padding-top: 16px;
		padding-bottom: 16px;

		&.btn-light{
			padding-top: 14px;
			padding-bottom: 14px;
		}
	}
}