.cards-list{
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -30px;

	.item{
		display: flex;
		flex: none;
		padding: 0 15px;
		margin-bottom: 30px;
		width: 33.333333%;
	}
}