.header-nav{
	list-style: none;
	display: inline-flex;
	align-items: center;

	li{
		margin-right: 30px;

		&:last-child{
			margin-right: 0;
		}

		a{
			font-size: 14px;
			line-height: 18px;
			font-weight: bold;
			color: $lightgray;
			text-decoration: none;

			&:hover{
				color: $azure;
			}
		}

		&.current{
			a{
				color: $azure;
			}
		}
	}

	@media screen and (max-width: $desktop-breakpoint){
		flex-wrap: wrap;
		justify-content: center;

		li,
		li:last-child{
			margin: 0 25px;
		}
	}

	@media screen and (max-width: $tablet-breakpoint){
		li,
		li:last-child{
			margin: 0 15px;
		}
	}
}